.Signup
  .Signup__wrapper
    .Signup__wrapper__container
      .Signup__wrapper__title
        %h1 新規ユーザ登録
      =link_to "x",root_path,{class:"Signup__wrapper__container__close_btn"}

      = form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f|

        .Signup__wrapper__container__field
          %ul.Signup__wrapper__container__field__label
            %li.Signup__wrapper__container__field__label__required_item 必須
            %li.Signup__wrapper__container__field__label__item ユーザ名
          = f.text_field :user_name
          
        .Signup__wrapper__container__field
          %ul.Signup__wrapper__container__field__label
            %li.Signup__wrapper__container__field__label__required_item 必須
            %li.Signup__wrapper__container__field__label__item メールアドレス
          = f.email_field :email

        .Signup__wrapper__container__field
          %ul.Signup__wrapper__container__field__label
            %li.Signup__wrapper__container__field__label__required_item 必須
            %li.Signup__wrapper__container__field__label__item パスワード
          - if @validatable
            %em
              (#{@minimum_password_length} characters minimum)
          %br/
          = f.password_field :password, autocomplete: "off"
        .Signup__wrapper__container__field
          %ul.Signup__wrapper__container__field__label
            %li.Signup__wrapper__container__field__label__required_item 必須
            %li.Signup__wrapper__container__field__label__item パスワード（確認）
          = f.password_field :password_confirmation, autocomplete: "off"

        .Signup__wrapper__container__field
          .Signup__wrapper__container__field__image
          .Signup__wrapper__container__field__image__image_waku      
            %img.Signup__wrapper__container__field__image__image_waku__image{ src: "/assets/Noimage.png", alt: "logo",id: "img1"  }
            = f.label :profile_image do            
              = f.file_field :profile_image,id:"myfile"          
            <br>
            プロフィール画像
          
          .Signup__wrapper__container__field__selfintro
            = f.text_area :self_introduction, placeholder:"自己紹介"

        .Signup__wrapper__container__submit
          = f.submit "登録する"          

        .Signup__wrapper__etc
          = link_to "既にアカウントをお持ちの方はこちら", new_user_session_path
= devise_error_messages!
            
