.Follow
  .Follow__follow_list

    .Follow__follow_list__follow_an_follower
      .Follow__follow_list__follow_an_follower__follow
        フォロー
      .Follow__follow_list__follow_an_follower__follower
        =link_to "フォロワー",follower_user_path

    - unless @relationships.empty?
      - @relationships.each do |u|
        .Follow__follow_list__member
          .Follow__follow_list__member__image
            =link_to user_path(u.follow_id) do
              -if User.find_by(id:u.follow_id).profile_image.url.nil?
                %img.Review_left__No_image{ src: "/assets/Noimage.png", size: "150x200", alt: "logo" }                  
              -else
                =image_tag User.find_by(id:u.follow_id).profile_image.url

            .Follow__follow_list__member__image__user_name
              =link_to user_path(u.follow_id) do
                -User.find_by(id:u.follow_id).user_name

          .Follow__follow_list__member__selfintro
            .Follow__follow_list__member__selfintro__moji
              =link_to user_path(u.follow_id) do
                -User.find_by(id:u.follow_id).self_introduction

          .Follow__follow_list__member__follow_unfollow
            -if user_signed_in?
              - if current_user == User.find_by(id: u.user_id)
                - unless current_user.following?(User.find_by(id: u.user_id))
                  = form_for(current_user.relationships.find_by(follow_id: u.follow_id), html: { method: :delete }) do |f|
                    = f.hidden_field :follow_id, value: u.follow_id
                    = f.submit 'フォロー解除', class: 'Profile_waku__user_name_and_follow__follow__follow-now'
                    
                - else
                  = form_for(current_user.relationships.build) do |f|
                    = f.hidden_field :follow_id, value: u.follow_id
                    = f.submit 'フォローする', class: 'Profile_waku__user_name_and_follow__follow__follows'
    - else
      .Follow__follow_list__none_follow
        まだ誰もフォローしていません