.Mypage
  .Mypage_Main
    .Mypage_Main__left
      .User_infomation
        .Profile_waku
          .Profile_waku__image
            = link_to "#", class: "Account__btn Account__btn--User" do
              = icon('fas', 'user-circle fa-5x',  class: "Account__btn--icon")        
          .Profile_waku__user_name
            %h1 
            =@users.user_name

        .Infomation
          .Infomation__reviewcount
            レビュー数
          .Infomation__reviewcount
            総いいね数
          .Infomation__reviewcount
            XXX          

      .Toukou
        .Toukou__Review
          = icon('fas', 'pen-nib',  class: "Account__btn--icon")        
          = link_to "レビューを投稿する", new_post_path, class: "Toukou__Review--btn"
        
          
    .Mypage_Main__right                  
      %h1 タイムライン
      .Mypage_Main__right_info
        - @users.posts.each do |p|  
          .Review
            .Review_left
              .Review_left__image
                - if p.image.present?
                  =image_tag p.image.url, size: "250x200", alt: "画像"
                - else
                  画像なし
            .Review_right
              .Title_category 
                .Title_category__title
                  =link_to p.title, post_path(p.id)
                .Title_category__category
                  =p.category              
              .Review_right__Honbun
                =p.content

              .Right_kabu
                .Right_kabu__date
                  =p.created_at
                .Right_kabu__info
                  - if user_signed_in? && current_user.id == p.user_id
                    %h2
                      = link_to "編集", edit_post_path(p.id)          
                    %h2
                      = link_to "削除", post_path(p.id), method: :delete      
                  - else