.Mypage
  .Mypage_Main
    .Mypage_Main__left
      .User_infomation
        .Profile_waku
        
          .Profile_waku__image
            - if @users.profile_image.present?          
              = link_to "#", class: "Account__btn Account__btn--User" do
                =image_tag @users.profile_image, size: "150x200", alt: "画像"
            -else
              = link_to "#", class: "Account__btn Account__btn--User" do
                %img.Review_left__No_image{ src: "/assets/Noimage.png", size: "150x200", alt: "logo" }  

          .Profile_waku__user_name
            .Profile_waku__name          
              %h1 
              =@users.user_name

            

        .Infomation
          .Infomation__reviewcount
            投稿数<br>
            =Post.where(user_id: @users.id).count

          //※現在いいね「した」数になっているので修正必要。
          .Infomation__reviewcount
            いいねされた数<br>
            =Like.where(post_id: @users.id).count            

      .Mypage_List
        .Toukou
          .Toukou__ichiran
            = icon('fas', 'list',  class: "Account__btn--icon")        
            = link_to "投稿一覧", new_post_path, class: "Toukou__Review--btn"          

        .Toukou
          .Toukou__Review
            = icon('fas', 'pen-nib',  class: "Account__btn--icon")        
            = link_to "レビューを投稿する", new_post_path, class: "Toukou__Review--btn"        

        .Toukou
          .Toukou__Review
            = icon('far', 'user',  class: "Account__btn--icon")        
            = link_to "プロフィールを編集する", edit_user_registration_path, class: "Toukou__Review--btn"          
          
    .Mypage_Main__right                  
      %h1 タイムライン
      .Mypage_Main__right_info
        - @posts.each do |p|  
          .Review
            .Review_left
              .Review_left__image
                - if p.image.present?
                  = link_to post_path(p.id)  do
                    =image_tag p.image.url, size: "150x200", alt: "画像"
                - else
                  = link_to post_path(p.id)  do                
                    %img.Review_left__No_image{ src: "/assets/Noimage.png", size: "150x200", alt: "logo" }  
            .Review_right
              .Title_category 
                .Title_category__title
                  =link_to p.title, post_path(p.id)
                .HyoukatoCategory  
                  .HyoukatoCategory__hyouka
                    評価：
                    =p.rate                                
                  .HyoukatoCategory__category
                    カテゴリ：
                    =p.category              
              .Review_right__Honbun
                =p.content

             
              

              .Right_kabu
                //削除するいいねを”likesテーブルのIDから取得したい！！現在はpostidを取得している。”
                .Right_iine
                  - if Like.find_by(user_id:current_user.id, post_id: p.id)
                    = link_to(like_path(p.id), {method: "delete"}) do
                      = icon('fas', 'heart',  class: "Account__btn--icon")
                  - else
                    = link_to(likes_path(p.id)) do
                      = icon('far', 'heart',  class: "Account__btn--icon")                

                  =Like.where(post_id: p.id).count
                
                  .Right_comment
                    = link_to post_path(p.id)  do
                      = icon('far', 'comment-dots',  class: "Account__btn--icon")
           

                    =Comment.where(post_id: p.id).count                
                    

                .Right_kabu__date
                  =p.created_at
                  .Right_kabu__info
                    - if user_signed_in? && current_user.id == p.user_id
                      %h2
                        = link_to "編集", edit_post_path(p.id)          
                      %h2
                        = link_to "削除", post_path(p.id), method: :delete      
                    - else